#services {
    /* width: 100%; */
    /* height: 60vh; */
    padding: 2rem;
    /* margin: 1rem auto; */
    background: white;
}

@media only screen and (max-width: 600px) {
    #services {
        height: auto;
        margin-bottom: 1rem;
    }
}

#services-title {
    color: black;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.35rem;
}

.service-item {
    font-size: 1.25rem;
    color: black;
    text-transform: capitalize;
    margin-bottom:1.5rem;
}