body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  background: rgb(31, 33, 34);
  font-family: "Lato", sans-serif;
  height: 100%;
}

h2 {
  font-size: large;
}

#root {
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Helper CSS Pointers */

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}
