#featured {
    /* height: 100vh; */
    padding: 3rem 5rem;
    background: rgb(36, 35, 35);
}

.featured-carousel {
    width: 60%;
}

@media only screen and (max-width: 414px) {
    #featured {
        padding: 0;
        height: 50vh
    }

    .featured-title {
        font-size: 2rem;
        margin-top:3rem;
    }

    .featured-carousel {
        width: 100%;
    }

    .project-caption {
        display:none;
    }
    .project-title {
        display: none;
    }

}
