#home-featured {
  scroll-snap-align: start;
  background: url("../../Assets/images/featured-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.rise-f {
  width: min-content;
  transition: transform 0.5s;
}

.rise-f:hover {
  transform: translateY(-5%);
  width: min-content;
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
  .icon {
    width: 20%;
  }

  #home-featured {
    scroll-snap-align: start;
    background: url("../../Assets/images/featured-backgroundx812.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
  }

  .icon-title {
    font-size: 1.5rem;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
  #home-featured {
    scroll-snap-align: start;
    background: url("../../Assets/images/featured-backgroundx736.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
  }
}
