#topo-nav {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    height: 100%;
    color: #85ceff;
    transition: left 0.5s;
}
#nav-panel {
    width: 15rem;
    height: 100%;
    overflow: auto;
    background-color: rgb(28, 35, 51);
}
#title {
    width: fit-content;
    margin: 25px auto;
    letter-spacing: 10px;
}
#topo-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    list-style-type: none;
    background-color: rgb(28, 35, 51);
}

#docs-container {
    background-color: rgb(40 50 72) !important;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s, background 0.3s !important;
    padding: 0px !important;
}

#docs-container p {
    padding: 5px 10px;
}

#option-container {
    max-height: 0px;
    overflow: hidden;
    background-color: rgb(40 50 72) !important;
    transition: max-height 0.5s, background 0.3s !important;
    padding: 0px !important;
}

#option-list {
    list-style-type: none;
    padding: 0px;
    height: 100%;
}
#option-list li:hover {
    background-color: rgb(69 85 122) !important;
}
#topo-list li {
    padding: 10px;
    transition: background 0.3s;
}
#topo-list li:hover {
    background-color: rgb(47, 58, 85);
    cursor: pointer;
}
#nav-widgets {
    display: flex;
    flex-direction: column;
}
.tab-click {
    font-size: 25px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(28, 35, 51);
    text-align: center;
}
.option-widget {
    text-align: center;
    display: none;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(28, 35, 51);
}
.sketch-picker {
    background-color: rgb(28, 35, 51) !important;
    border: none !important;
}
.tab-click:hover {
    background-color: rgb(47, 58, 85);
}
#topo-footer {
    text-align: center;
    color: #85ceff;
}
@media (max-width: 600px) {
    #nav-panel {
        width: 10rem;
    }
}
