.cell {
  box-sizing: initial;
  padding: 1rem;
  width: 0.75rem;
  height: 0.75rem;
  line-height: normal;
  max-width: 0.75rem;
  max-height: 0.75rem;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(255, 217, 0, 0.171);
}

@media (max-width: 600px) {
  .cell {
    padding: 0.6rem;
    height: 1rem;
    width: 1rem;
    font-size: 14px;
  }
}
