input {
  outline: none;
}

.login {
  color: white;
  /* color: rgb(97, 218, 251); */
  padding: 1rem;
  height: 100vh;
  background: rgb(35, 125, 152);
  /* background: rgb(22, 22, 22); */
  /* background: rgb(40, 44, 52); */
}

.login-form {
  padding: 1rem;
  border-radius: 25px;
  /* background: rgb(32, 35, 42); */
  width: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.login-submit {
  /* position: relative; */
  /* transform: translateX(100%); */
  width: 100%;
  padding: 0.25rem;
  border-radius: 10px;
  border: none;
  background: rgb(11, 57, 78);

  /* background: rgb(40, 44, 52); */
  color: white;
}
.login-submit:focus {
  outline: none;
}

.login-input {
  box-shadow: none;
  background: white;
  border-radius: 25px;
  padding: 2px 5px;
  border: 1px solid white;
}

.login-input:focus {
  outline: none;
}
