.login-background {
  background-color: #123;
  height: 100vh;
  color: white;
}
.login {
  transform: translateY(100%);
  margin: 0 auto;
  border: 1px solid black;
  padding: 2rem 1rem;
  width: 50%;
  border-radius: 10px;
}
.messenger-title {
}

.username-label {
  margin: 0 auto;
  width: 50%;
}
.username-input {
  margin: 0 auto;
  width: 50%;
}

.username-input input {
  background-color: #234;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
}

.login-button {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  border-radius: 25px;
  height: 2rem;
}
