.message-board {
  display: flex;
  height: 100vh;
}

.board-heading {
  color: #2af;
  font-weight: 500;
  font-size: 1.5rem;
}

.board-btn {
  color: #29d;
  background-color: #123;
  border-radius: 25px;
  outline: none;
  padding: 0 1rem;
  /* height: 25%; */
  /* width: 15%; */
  border: 1px solid #29d;
  transition: 0.25s background-color;
}

.board-btn:focus {
  outline: none;
}

.board-btn:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

/* Panel One */
.panel-one {
  background-color: #123;
  color: white;
  width: 25%;
  border: 1px solid black;
  padding: 1rem;
}

.user {
  font-size: 1.25rem;
}

/* Panel Two */
.panel-two {
  background-color: #123;
  color: white;
  width: 75%;
  border: 1px solid black;
  padding: 1rem;
}

.board-messages {
  overflow: scroll;
  height: 80%;
  /* border: 1px solid black; */
}

/* Message */
.message {
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem;
}
.message-user {
  color: #2af;
  font-size: small;
}

.message-timestamp {
  font-size: x-small;
}

/* Create Message */
.create-message {
  /* height: 10%; */
}

.create-message-input {
  background-color: #234;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5rem;
  width: 75%;
  margin-right: 1rem;
}

.create-message-input:focus {
  outline: none;
}

.message-send {
}
