#home {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.linkAbout {
  text-align: center;
}
.linkAbout:hover {
  color: rgb(210, 119, 95);
}

.linkProject {
  text-align: center;
}

.linkProject:hover {
  color: rgb(210, 200, 95);
}

.linkActivity {
  text-align: center;
}

.linkActivity:hover {
  color: rgb(100, 119, 200);
}

/* mobile */
@media only screen and (max-width: 600px) {
  #home {
    height: unset;
    padding: 2rem 0;
    overflow: auto;
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}
