.sketch_container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-wrap: wrap;
}

.pause_button {
  width: 50px;
  height: 25px;
}

#home {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(31, 33, 34);
}
/* Make sure that the sketch is centered */
/* .sketch { */
  /* border: 1px solid white; */
  /* flex: 25%; */
  /* width: 200px; */
  /* height: 200px; */
/* } */
