#gittrack-nav {
  color: #85ceff;
  height: 75px;
  background: #0e1525;
}

.gittrack-logo {
  color: white;
  width: 10%;
}

#nav-list {
  padding: 0px;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.nav-link a {
  color: #85ceff;
}


