#photography {
  background: rgb(22, 22, 22);
  width: 100%;
  /* margin: 1rem 0; */
}

/* h2 {
  color:white
} */

#photography-title {
  font-size: 3rem;
}

@media only screen and (max-width: 420px) {
  #photography-title {
    font-size: 2rem;
  }
}
