#photography {
    background: rgb(22, 22, 22);
    /* height: initial; */
    width: 100%;
    margin-bottom: 1rem;
    /* overflow: scroll; */
}

#photography-title {
    letter-spacing: normal;
    font-size: 3rem;
}


@media only screen and (max-width: 420px) {
    #photography-title {
        font-size: 2rem;
    }
}