#gittrack-home {
  background: rgb(28, 35, 51);
  color: #85ceff;
  min-height: 85vh;

}

#gittrack-home * {
  text-align: center;
}

.panels {
  display: flex;
}

.gittrack-list {
  list-style-type: none;
}

.panel-sm {
  width: 25%;
}
.panel-md-sm {
  width: 37.5%;
}
.panel-md {
  width: 50%;
}
.panel-lg {
  width: 75%;
}
.panel-full {
  width: 100%;
}
.panels section {
  padding: 10%;
}

.panel-image {
  padding: 0px !important;
}
.panel-image-sm {
  width: 25%;
}
.panel-image-md {
  width: 50%;
}
.panel-image-lg {
  width: 75%;
}
.panel-image-full {
  width: 100%;
}
.panel-white {
  background: white;
}

@media only screen and (max-width: 1400px) {
  .panels {
    flex-direction: column;
  }
  .panel {
    width: 100%;
  }
}
