#gittrack-home {
  background: rgb(28, 35, 51);
  color: #85ceff;
}

#gittrack-home * {
  text-align: center;
}

.panels {
  display: flex;
}

.panel {
  flex: 1 1 0px;
}

.panel-text {
  padding: 5% 0;
}

.panel-img-lg {
  width: 100%;
}
.panel-img-sm {
  width: 50%;
}

.gittrack-list {
  list-style-type: none;
  padding: 0;
}

.panel-white {
  background: white;
}

@media only screen and (max-width: 1400px) {
  .panels {
    flex-direction: column;
  }
}
