$breakpoint-phone: 480px;

#code {
  padding: 100px;
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-phone) {
    margin-top: 1rem;
    padding: 50px;
  }
}

#code-photo {
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}

#code-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

#code-details {
  margin: 10px 0 0 50px;
  @media (max-width: $breakpoint-phone) {
    margin: 1rem 0;
  }
}

#code-details a {
  text-decoration: none;
}
#code-details a h1 {
  color: #1f2933;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 0;
}
#code-details h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px;
  color: #8b8996;
}

#code-socials {
  margin: 15px 0 0;
  padding: 0;
}

.code-social-item {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  vertical-align: middle;
}

#code section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 50px;
}

.code-left {
  width: 300px;
}

.code-left h3 {
  color: #787a82;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.code-right {
  flex: 1 1;
  @media (min-width: $breakpoint-phone) {
    // flex: none;
    // padding-left: 5rem;
  }
  max-width: 700px;
}

.code-project-link {
  margin-bottom: 30px;
}

.code-project-link a {
  border-bottom: 1px solid #3997dc;
  color: #32404b;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: none;
}

.code-project-link p {
  font-size: 16px;
  color: #73727d;
  line-height: 1.5;
  margin: 0 0 30px;
}

.code-p {
  opacity: 1;
  // float: left;
  color: rgba(113, 128, 150, 1);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 30px;
}

.mb-6 {
  margin-bottom: 1.5rem;
}
