.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-right: 4px solid transparent;
  /* border-bottom: 3px solid transparent; */
  border-top: 5px solid #0497f8; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
