.projects_page {
  height: 100%;
  overflow: auto;
  padding: 5rem 0;
}

.project_list {
  display: flex;
  background-color: transparent;
  height: 100%;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 2; */
  /* margin-bottom: 5rem; */
}

.project {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 45%;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--yellow);
  border-radius: 10px;
}

.project_details {
  flex-grow: 1;
}

.link:hover {
  color: var(--yellow);
}

/* mobile */
@media only screen and (max-width: 600px) {
  .project {
    width: 75%;
    border: 1x solid;
    border-color: var(--yellow);
    border-radius: 10px;
  }
}
