#contact {
  scroll-snap-align: start;
  /* scroll-snap-stop: normal; */
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../../Assets/images/contact-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contact-area {
  height: auto;
  overflow: auto;
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
  #contact {
    scroll-snap-align: start;
    /* scroll-snap-stop: normal; */
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url("../../Assets/images/contact-backgroundx812.jpg");
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
  }

  .img-float {
    width: 85%;
  }

  .contact-area {
    overflow: none;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
  #contact {
    scroll-snap-align: start;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url("../../Assets/images/contact-backgroundx736.jpg");
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
  }

  .img-float {
    width: 100%;
  }
}

.link-rise {
  transition: transform 0.5s;
}

.link-rise:hover {
  transform: translateY(-15%);
}

.link {
  text-decoration: none;
  color: white;
  transition: transform 0.5s;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.icon {
  margin-right: 1.5rem;
}
