#about {
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('../../Assets/images/about-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.col {
    text-align: center;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 1.50rem "Lato", sans-serif;
    text-align: center;
}
