#gittrack-footer {
  color: #85ceff;
  height: 100px;
  background: #0e1525;
}

#footer-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 25%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

#footer-list li {
  text-align: center;
}
