.home-intro-container {
  text-align: center;
  --custom-color: rgb(97, 218, 251);
}

.center-container {
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #282c34;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  -webkit-transform: translateY(125%);
          transform: translateY(125%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1800px) {
  .center-container {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
    width: 15%;
  }
}

@media (max-width: 480px) {
  .center-container {
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    -webkit-transform: translateY(185%);
            transform: translateY(185%);
  }
}

.home-intro-header {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 480px) {
  .home-intro-header {
    margin: 0 auto;
    font-size: 4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.home-intro-page {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  background-color: #282c34;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.letter-btn {
  background: none;
  border: none;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  font-size: 4rem;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media (max-width: 480px) {
  .letter-btn {
    font-size: 3rem;
    padding: 0.5rem;
  }
}

.letter-btn:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.letter-btn:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.letter-btn:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.letter-btn:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.letter-btn:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.letter-btn:focus {
  outline: none;
}

.letter-btn:hover {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.icon-list {
  background-color: #282c34;
  z-index: 1;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.background-icon {
  display: block;
  position: absolute;
  list-style: none;
  width: 50px;
  color: var(--custom-color);
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-animation: moving 10s linear infinite;
          animation: moving 10s linear infinite;
}

@media (max-width: 480px) {
  .background-icon {
    display: block;
    position: absolute;
    list-style: none;
    width: 50px;
    color: var(--custom-color);
    -webkit-transition: color 1s;
    transition: color 1s;
    -webkit-animation: moving 10s linear infinite;
            animation: moving 10s linear infinite;
  }
}

.background-row:nth-child(1) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 4deg;
  --lift: 6px;
  --pos: 8;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 0deg;
  --lift: 20px;
  --pos: 8;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 1deg;
  --lift: 13px;
  --pos: 8;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: 9deg;
  --lift: 15px;
  --pos: 8;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: -1deg;
  --lift: 19px;
  --pos: 8;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: -3deg;
  --lift: 15px;
  --pos: 8;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: 8deg;
  --lift: 9px;
  --pos: 8;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: -6deg;
  --lift: 11px;
  --pos: 8;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: -9deg;
  --lift: 10px;
  --pos: 8;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 8vh;
}

.background-row:nth-child(1) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: -4deg;
  --lift: 14px;
  --pos: 8;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 8vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(1) .background-icon:nth-child(1) {
    --rotation: 6deg;
    --lift: 18px;
    --pos: 1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 1vh;
    left: 6%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(2) {
    --rotation: 5deg;
    --lift: 17px;
    --pos: 1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 1vh;
    left: 31%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(3) {
    --rotation: 9deg;
    --lift: 17px;
    --pos: 1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 1vh;
    left: 56%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(4) {
    --rotation: 4deg;
    --lift: 13px;
    --pos: 1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 1vh;
    left: 81%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(5) {
    --rotation: 10deg;
    --lift: 19px;
    --pos: 1;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 1vh;
    left: 106%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(6) {
    --rotation: 8deg;
    --lift: 19px;
    --pos: 1;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 1vh;
    left: 131%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(7) {
    --rotation: -5deg;
    --lift: 18px;
    --pos: 1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 1vh;
    left: 156%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(8) {
    --rotation: 2deg;
    --lift: 13px;
    --pos: 1;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 1vh;
    left: 181%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(9) {
    --rotation: 4deg;
    --lift: 18px;
    --pos: 1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 1vh;
    left: 206%;
  }
  .background-row:nth-child(1) .background-icon:nth-child(10) {
    --rotation: -5deg;
    --lift: 17px;
    --pos: 1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 1vh;
    left: 231%;
  }
}

.background-row:nth-child(2) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 0deg;
  --lift: 18px;
  --pos: 23;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 9deg;
  --lift: 11px;
  --pos: 23;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 5deg;
  --lift: 8px;
  --pos: 23;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: 1deg;
  --lift: 18px;
  --pos: 23;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: -8deg;
  --lift: 13px;
  --pos: 23;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: -6deg;
  --lift: 19px;
  --pos: 23;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: -2deg;
  --lift: 18px;
  --pos: 23;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: 9deg;
  --lift: 16px;
  --pos: 23;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: -8deg;
  --lift: 11px;
  --pos: 23;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 23vh;
}

.background-row:nth-child(2) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: -2deg;
  --lift: 11px;
  --pos: 23;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 23vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(2) .background-icon:nth-child(1) {
    --rotation: -7deg;
    --lift: 11px;
    --pos: 16;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 16vh;
    left: 6%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(2) {
    --rotation: -5deg;
    --lift: 6px;
    --pos: 16;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 16vh;
    left: 31%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(3) {
    --rotation: -4deg;
    --lift: 18px;
    --pos: 16;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 16vh;
    left: 56%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(4) {
    --rotation: 0deg;
    --lift: 12px;
    --pos: 16;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 16vh;
    left: 81%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(5) {
    --rotation: 4deg;
    --lift: 19px;
    --pos: 16;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 16vh;
    left: 106%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(6) {
    --rotation: -9deg;
    --lift: 7px;
    --pos: 16;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 16vh;
    left: 131%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(7) {
    --rotation: -7deg;
    --lift: 12px;
    --pos: 16;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 16vh;
    left: 156%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(8) {
    --rotation: -3deg;
    --lift: 9px;
    --pos: 16;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 16vh;
    left: 181%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(9) {
    --rotation: 3deg;
    --lift: 20px;
    --pos: 16;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 16vh;
    left: 206%;
  }
  .background-row:nth-child(2) .background-icon:nth-child(10) {
    --rotation: 10deg;
    --lift: 11px;
    --pos: 16;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 16vh;
    left: 231%;
  }
}

.background-row:nth-child(3) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 1deg;
  --lift: 19px;
  --pos: 38;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 3deg;
  --lift: 13px;
  --pos: 38;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 7deg;
  --lift: 9px;
  --pos: 38;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: -9deg;
  --lift: 8px;
  --pos: 38;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: 5deg;
  --lift: 19px;
  --pos: 38;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 9deg;
  --lift: 18px;
  --pos: 38;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: 1deg;
  --lift: 6px;
  --pos: 38;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: -8deg;
  --lift: 8px;
  --pos: 38;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: 8deg;
  --lift: 6px;
  --pos: 38;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 38vh;
}

.background-row:nth-child(3) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: 6deg;
  --lift: 18px;
  --pos: 38;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 38vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(3) .background-icon:nth-child(1) {
    --rotation: 8deg;
    --lift: 15px;
    --pos: 31;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 31vh;
    left: 6%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(2) {
    --rotation: 8deg;
    --lift: 17px;
    --pos: 31;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 31vh;
    left: 31%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(3) {
    --rotation: 9deg;
    --lift: 20px;
    --pos: 31;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 31vh;
    left: 56%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(4) {
    --rotation: 10deg;
    --lift: 15px;
    --pos: 31;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 31vh;
    left: 81%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(5) {
    --rotation: 4deg;
    --lift: 15px;
    --pos: 31;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 31vh;
    left: 106%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(6) {
    --rotation: -1deg;
    --lift: 18px;
    --pos: 31;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 31vh;
    left: 131%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(7) {
    --rotation: 7deg;
    --lift: 15px;
    --pos: 31;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 31vh;
    left: 156%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(8) {
    --rotation: -8deg;
    --lift: 18px;
    --pos: 31;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 31vh;
    left: 181%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(9) {
    --rotation: -8deg;
    --lift: 8px;
    --pos: 31;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 31vh;
    left: 206%;
  }
  .background-row:nth-child(3) .background-icon:nth-child(10) {
    --rotation: -8deg;
    --lift: 9px;
    --pos: 31;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 31vh;
    left: 231%;
  }
}

.background-row:nth-child(4) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 8deg;
  --lift: 11px;
  --pos: 53;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 6deg;
  --lift: 11px;
  --pos: 53;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 4deg;
  --lift: 11px;
  --pos: 53;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: -4deg;
  --lift: 9px;
  --pos: 53;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: 4deg;
  --lift: 17px;
  --pos: 53;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 0deg;
  --lift: 14px;
  --pos: 53;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: -6deg;
  --lift: 20px;
  --pos: 53;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: -7deg;
  --lift: 8px;
  --pos: 53;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: -9deg;
  --lift: 14px;
  --pos: 53;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 53vh;
}

.background-row:nth-child(4) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: -2deg;
  --lift: 14px;
  --pos: 53;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 53vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(4) .background-icon:nth-child(1) {
    --rotation: -8deg;
    --lift: 11px;
    --pos: 46;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 46vh;
    left: 6%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(2) {
    --rotation: -5deg;
    --lift: 13px;
    --pos: 46;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 46vh;
    left: 31%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(3) {
    --rotation: -6deg;
    --lift: 16px;
    --pos: 46;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 46vh;
    left: 56%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(4) {
    --rotation: 6deg;
    --lift: 14px;
    --pos: 46;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 46vh;
    left: 81%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(5) {
    --rotation: 7deg;
    --lift: 7px;
    --pos: 46;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 46vh;
    left: 106%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(6) {
    --rotation: -3deg;
    --lift: 8px;
    --pos: 46;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 46vh;
    left: 131%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(7) {
    --rotation: 5deg;
    --lift: 15px;
    --pos: 46;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 46vh;
    left: 156%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(8) {
    --rotation: -8deg;
    --lift: 7px;
    --pos: 46;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 46vh;
    left: 181%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(9) {
    --rotation: -6deg;
    --lift: 16px;
    --pos: 46;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 46vh;
    left: 206%;
  }
  .background-row:nth-child(4) .background-icon:nth-child(10) {
    --rotation: 6deg;
    --lift: 15px;
    --pos: 46;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 46vh;
    left: 231%;
  }
}

.background-row:nth-child(5) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 9deg;
  --lift: 6px;
  --pos: 68;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 3deg;
  --lift: 8px;
  --pos: 68;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: -3deg;
  --lift: 8px;
  --pos: 68;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: 4deg;
  --lift: 20px;
  --pos: 68;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: 10deg;
  --lift: 10px;
  --pos: 68;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: -7deg;
  --lift: 16px;
  --pos: 68;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: 3deg;
  --lift: 20px;
  --pos: 68;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: 6deg;
  --lift: 10px;
  --pos: 68;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: -6deg;
  --lift: 11px;
  --pos: 68;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 68vh;
}

.background-row:nth-child(5) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: -9deg;
  --lift: 19px;
  --pos: 68;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 68vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(5) .background-icon:nth-child(1) {
    --rotation: -6deg;
    --lift: 9px;
    --pos: 61;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 61vh;
    left: 6%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(2) {
    --rotation: -9deg;
    --lift: 8px;
    --pos: 61;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 61vh;
    left: 31%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(3) {
    --rotation: 9deg;
    --lift: 10px;
    --pos: 61;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 61vh;
    left: 56%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(4) {
    --rotation: -9deg;
    --lift: 18px;
    --pos: 61;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 61vh;
    left: 81%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(5) {
    --rotation: 7deg;
    --lift: 13px;
    --pos: 61;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 61vh;
    left: 106%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(6) {
    --rotation: 9deg;
    --lift: 6px;
    --pos: 61;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 61vh;
    left: 131%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(7) {
    --rotation: -9deg;
    --lift: 7px;
    --pos: 61;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 61vh;
    left: 156%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(8) {
    --rotation: 5deg;
    --lift: 19px;
    --pos: 61;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 61vh;
    left: 181%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(9) {
    --rotation: 7deg;
    --lift: 18px;
    --pos: 61;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 61vh;
    left: 206%;
  }
  .background-row:nth-child(5) .background-icon:nth-child(10) {
    --rotation: -9deg;
    --lift: 10px;
    --pos: 61;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 61vh;
    left: 231%;
  }
}

.background-row:nth-child(6) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 4deg;
  --lift: 8px;
  --pos: 83;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: -4deg;
  --lift: 11px;
  --pos: 83;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: -7deg;
  --lift: 19px;
  --pos: 83;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: 3deg;
  --lift: 12px;
  --pos: 83;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: 9deg;
  --lift: 18px;
  --pos: 83;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 2deg;
  --lift: 13px;
  --pos: 83;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: -3deg;
  --lift: 18px;
  --pos: 83;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: 0deg;
  --lift: 10px;
  --pos: 83;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: 10deg;
  --lift: 11px;
  --pos: 83;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 83vh;
}

.background-row:nth-child(6) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: 2deg;
  --lift: 8px;
  --pos: 83;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 83vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(6) .background-icon:nth-child(1) {
    --rotation: 2deg;
    --lift: 12px;
    --pos: 76;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 76vh;
    left: 6%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(2) {
    --rotation: 3deg;
    --lift: 18px;
    --pos: 76;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 76vh;
    left: 31%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(3) {
    --rotation: 7deg;
    --lift: 20px;
    --pos: 76;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 76vh;
    left: 56%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(4) {
    --rotation: 8deg;
    --lift: 16px;
    --pos: 76;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 76vh;
    left: 81%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(5) {
    --rotation: 7deg;
    --lift: 13px;
    --pos: 76;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 76vh;
    left: 106%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(6) {
    --rotation: -4deg;
    --lift: 15px;
    --pos: 76;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 76vh;
    left: 131%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(7) {
    --rotation: -9deg;
    --lift: 20px;
    --pos: 76;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 76vh;
    left: 156%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(8) {
    --rotation: 7deg;
    --lift: 10px;
    --pos: 76;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 76vh;
    left: 181%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(9) {
    --rotation: 7deg;
    --lift: 20px;
    --pos: 76;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 76vh;
    left: 206%;
  }
  .background-row:nth-child(6) .background-icon:nth-child(10) {
    --rotation: -7deg;
    --lift: 12px;
    --pos: 76;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 76vh;
    left: 231%;
  }
}

.background-row:nth-child(7) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: -3deg;
  --lift: 18px;
  --pos: 98;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: -1deg;
  --lift: 11px;
  --pos: 98;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 9deg;
  --lift: 11px;
  --pos: 98;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: 0deg;
  --lift: 20px;
  --pos: 98;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: -7deg;
  --lift: 10px;
  --pos: 98;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 7deg;
  --lift: 8px;
  --pos: 98;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: 0deg;
  --lift: 18px;
  --pos: 98;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: 3deg;
  --lift: 17px;
  --pos: 98;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: 4deg;
  --lift: 20px;
  --pos: 98;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 98vh;
}

.background-row:nth-child(7) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: -6deg;
  --lift: 10px;
  --pos: 98;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 98vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(7) .background-icon:nth-child(1) {
    --rotation: -9deg;
    --lift: 17px;
    --pos: 91;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 91vh;
    left: 6%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(2) {
    --rotation: -7deg;
    --lift: 10px;
    --pos: 91;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 91vh;
    left: 31%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(3) {
    --rotation: 2deg;
    --lift: 14px;
    --pos: 91;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 91vh;
    left: 56%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(4) {
    --rotation: 8deg;
    --lift: 19px;
    --pos: 91;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 91vh;
    left: 81%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(5) {
    --rotation: -1deg;
    --lift: 6px;
    --pos: 91;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 91vh;
    left: 106%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(6) {
    --rotation: 9deg;
    --lift: 15px;
    --pos: 91;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 91vh;
    left: 131%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(7) {
    --rotation: 8deg;
    --lift: 19px;
    --pos: 91;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 91vh;
    left: 156%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(8) {
    --rotation: -2deg;
    --lift: 11px;
    --pos: 91;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 91vh;
    left: 181%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(9) {
    --rotation: 6deg;
    --lift: 6px;
    --pos: 91;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 91vh;
    left: 206%;
  }
  .background-row:nth-child(7) .background-icon:nth-child(10) {
    --rotation: 6deg;
    --lift: 6px;
    --pos: 91;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 91vh;
    left: 231%;
  }
}

.background-row:nth-child(8) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 4deg;
  --lift: 15px;
  --pos: 113;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 9deg;
  --lift: 7px;
  --pos: 113;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: -7deg;
  --lift: 16px;
  --pos: 113;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: 2deg;
  --lift: 10px;
  --pos: 113;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: 2deg;
  --lift: 18px;
  --pos: 113;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 1deg;
  --lift: 16px;
  --pos: 113;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: -4deg;
  --lift: 20px;
  --pos: 113;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: -5deg;
  --lift: 18px;
  --pos: 113;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: 1deg;
  --lift: 13px;
  --pos: 113;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 113vh;
}

.background-row:nth-child(8) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: 0deg;
  --lift: 10px;
  --pos: 113;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 113vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(8) .background-icon:nth-child(1) {
    --rotation: -3deg;
    --lift: 11px;
    --pos: 106;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 106vh;
    left: 6%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(2) {
    --rotation: 6deg;
    --lift: 15px;
    --pos: 106;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 106vh;
    left: 31%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(3) {
    --rotation: -1deg;
    --lift: 13px;
    --pos: 106;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 106vh;
    left: 56%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(4) {
    --rotation: 9deg;
    --lift: 10px;
    --pos: 106;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 106vh;
    left: 81%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(5) {
    --rotation: -7deg;
    --lift: 20px;
    --pos: 106;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 106vh;
    left: 106%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(6) {
    --rotation: 9deg;
    --lift: 20px;
    --pos: 106;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 106vh;
    left: 131%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(7) {
    --rotation: 0deg;
    --lift: 13px;
    --pos: 106;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 106vh;
    left: 156%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(8) {
    --rotation: -1deg;
    --lift: 10px;
    --pos: 106;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 106vh;
    left: 181%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(9) {
    --rotation: 0deg;
    --lift: 17px;
    --pos: 106;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 106vh;
    left: 206%;
  }
  .background-row:nth-child(8) .background-icon:nth-child(10) {
    --rotation: -9deg;
    --lift: 13px;
    --pos: 106;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 106vh;
    left: 231%;
  }
}

.background-row:nth-child(9) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: -4deg;
  --lift: 7px;
  --pos: 128;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 6deg;
  --lift: 15px;
  --pos: 128;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 4deg;
  --lift: 14px;
  --pos: 128;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: -8deg;
  --lift: 17px;
  --pos: 128;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: 10deg;
  --lift: 8px;
  --pos: 128;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 8deg;
  --lift: 20px;
  --pos: 128;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: 2deg;
  --lift: 17px;
  --pos: 128;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: 6deg;
  --lift: 8px;
  --pos: 128;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: 2deg;
  --lift: 15px;
  --pos: 128;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 128vh;
}

.background-row:nth-child(9) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: 6deg;
  --lift: 19px;
  --pos: 128;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 128vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(9) .background-icon:nth-child(1) {
    --rotation: -6deg;
    --lift: 8px;
    --pos: 121;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 121vh;
    left: 6%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(2) {
    --rotation: -8deg;
    --lift: 20px;
    --pos: 121;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 121vh;
    left: 31%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(3) {
    --rotation: 5deg;
    --lift: 15px;
    --pos: 121;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 121vh;
    left: 56%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(4) {
    --rotation: 5deg;
    --lift: 14px;
    --pos: 121;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 121vh;
    left: 81%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(5) {
    --rotation: 8deg;
    --lift: 10px;
    --pos: 121;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 121vh;
    left: 106%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(6) {
    --rotation: -9deg;
    --lift: 19px;
    --pos: 121;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 121vh;
    left: 131%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(7) {
    --rotation: 9deg;
    --lift: 20px;
    --pos: 121;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 121vh;
    left: 156%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(8) {
    --rotation: -9deg;
    --lift: 17px;
    --pos: 121;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 121vh;
    left: 181%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(9) {
    --rotation: -6deg;
    --lift: 10px;
    --pos: 121;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 121vh;
    left: 206%;
  }
  .background-row:nth-child(9) .background-icon:nth-child(10) {
    --rotation: 2deg;
    --lift: 19px;
    --pos: 121;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    top: 121vh;
    left: 231%;
  }
}

.background-row:nth-child(10) .background-icon:nth-child(1) {
  left: 3%;
  --rotation: 7deg;
  --lift: 7px;
  --pos: 143;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(2) {
  left: 13%;
  --rotation: 4deg;
  --lift: 14px;
  --pos: 143;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(3) {
  left: 23%;
  --rotation: 5deg;
  --lift: 9px;
  --pos: 143;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(4) {
  left: 33%;
  --rotation: -8deg;
  --lift: 12px;
  --pos: 143;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(5) {
  left: 43%;
  --rotation: -6deg;
  --lift: 15px;
  --pos: 143;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(6) {
  left: 53%;
  --rotation: 9deg;
  --lift: 8px;
  --pos: 143;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(7) {
  left: 63%;
  --rotation: 1deg;
  --lift: 15px;
  --pos: 143;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(8) {
  left: 73%;
  --rotation: -6deg;
  --lift: 14px;
  --pos: 143;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(9) {
  left: 83%;
  --rotation: 8deg;
  --lift: 19px;
  --pos: 143;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  top: 143vh;
}

.background-row:nth-child(10) .background-icon:nth-child(10) {
  left: 93%;
  --rotation: 0deg;
  --lift: 17px;
  --pos: 143;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 143vh;
}

@media (max-width: 480px) {
  .background-row:nth-child(10) .background-icon:nth-child(1) {
    --rotation: -3deg;
    --lift: 8px;
    --pos: 136;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 136vh;
    left: 6%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(2) {
    --rotation: 5deg;
    --lift: 18px;
    --pos: 136;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 136vh;
    left: 31%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(3) {
    --rotation: -7deg;
    --lift: 20px;
    --pos: 136;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 136vh;
    left: 56%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(4) {
    --rotation: 1deg;
    --lift: 8px;
    --pos: 136;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 136vh;
    left: 81%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(5) {
    --rotation: 8deg;
    --lift: 19px;
    --pos: 136;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    top: 136vh;
    left: 106%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(6) {
    --rotation: -9deg;
    --lift: 16px;
    --pos: 136;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 136vh;
    left: 131%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(7) {
    --rotation: 0deg;
    --lift: 14px;
    --pos: 136;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    top: 136vh;
    left: 156%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(8) {
    --rotation: -8deg;
    --lift: 6px;
    --pos: 136;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 136vh;
    left: 181%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(9) {
    --rotation: -5deg;
    --lift: 16px;
    --pos: 136;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 136vh;
    left: 206%;
  }
  .background-row:nth-child(10) .background-icon:nth-child(10) {
    --rotation: 10deg;
    --lift: 12px;
    --pos: 136;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 136vh;
    left: 231%;
  }
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(var(--lift)) rotate(var(--rotation));
            transform: translateY(var(--lift)) rotate(var(--rotation));
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(var(--lift)) rotate(var(--rotation));
            transform: translateY(var(--lift)) rotate(var(--rotation));
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */