/* App Specific styles to apply across all things */
.main_page {
  display: flex;
  flex-direction: column;
  height: 100%;
}


w.h1 {
  font-size: xx-large;
}

/* .h2 {
  font-size: x-large;
} */

.h3 {
  font-size: large;
  /* letter-spacing: 3px; */
}

.link {
  text-decoration: underline;
}

.line_height_adjust {
  margin: 0;
  line-height: 30px;
}

.flex_end {
  justify-content: flex-end;
}

.flex_start {
  justify-content: flex-start;
}
