:root {
  --font-light: black;
  --font-dark: rgb(255, 255, 225);
  --bg-light: rgb(255, 255, 225);
  --bg-dark: rgb(49 60 66);
  /* --bg-dark: rgb(71 81 87); */
  /* --bg-dark: rgb(31, 33, 34); */
  --red: rgb(210, 119, 95);
  --yellow: rgb(210, 200, 95);
  --blue: rgb(100, 119, 200);
}

html {
  background-color: var(--bg-dark);
  color: var(--font-dark);
}

a {
  color: var(--font-dark);
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  user-select: none;
  height: 100%;
  width: 100%;
}

#root {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
